{% extends 'template.html' %}
{% block movies %}
{% for movie in films.Search %}
<div class="mega-card">
    <div class="card">
        <div class="poster"> <img src="{{movie.Poster}}" class="card-img-top" alt="..."> </div>
        <h3> {{movie.Title}} </h3>
        <p>⭐ 4.5/5</p>
        <span class="tag completed">Completed</span>
    </div>
    <div class="hover-card">
        <div class="poster"> <img src="{{movie.Poster}}" class="card-img-top" alt="..."> </div>
        <h3> {{movie.Title}} </h3>
        <div class="buttons">
            <form action="" method="post">
                <input type="hidden" name="Title" value="{{movie.Title}}">
                <input type="hidden" name="Poster" value="{{movie.Poster}}">
                <input type="hidden" name="Year" value="{{movie.Year}}">
                <button class="watchlist" name="action" value="watchlist">+ Watchlist</button>
                <a class="watchlist know-more-btn" name="action"
                    href="{{url_for('data_about_single', Title = movie.Title)}}"> Know More </a>
                <button class="complete" name="action" value="complete"> ✔ </button>
            </form>
        </div>
    </div>

</div>
{% endfor %}
{% endblock movies %}