{% extends 'template.html' %}
{% block movies %}
<div>
    <h3> {{text}} </h3>
</div>
<div class="grid">
    {% for s in series.results %}
    <div class="mega-card">
        <div class="card">
            <div class="poster"> <img src="https://image.tmdb.org/t/p/original{{s.poster_path}}" class="card-img-top"
                    alt="..."> </div>
            <h3> {{s.original_name}} </h3>
            <p>⭐ {{s.vote_average}} </p>
        </div>
        <div class="hover-card">
            <div class="poster"> <img src="https://image.tmdb.org/t/p/original{{s.poster_path}}" class="card-img-top"
                    alt="..."> </div>
            <h3> {{s.original_name}} </h3>
            <div class="buttons">
                <form action="" method="post">
                    <input type="hidden" name="movie_id" value="{{s.id}}">
                    <input type="hidden" name="Title" value="{{s.original_name}}">
                    <input type="hidden" name="Poster" value="{{s.poster_path}}">
                    <input type="hidden" name="Rating" value="{{s.vote_average}}">
                    <button class="watchlist" name="action" value="watchlist">+ Watchlist</button>
                    <a class="watchlist know-more-btn" name="action" href="{{url_for('series_page',id = s.id)}}"> Know
                        More </a>
                    <button class="complete" name="action" value="complete"> ✔ </button>
                </form>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock movies %}