<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/css/signin.css">
</head>

<body>
    <div class="watchverse-logo">
        <a href="/" class="logo_link_to_home"><span class="watch">Watch</span><span class="verse">Verse</span></a>
    </div>
    <form action="" method="POST">
    <div class="SignIn">
        <div class="SignInCard">
            <h1>Create Your WatchVerse Account</h1>
            <p class="subtext">Create your new WatchVerse account</p>

            <label>Name</label>
            <input type="text" placeholder="Enter your Name" required name="name">

            <label>Email</label>
            <input type="email" placeholder="Enter Email Id" required name="email">

            <label>Password</label>
            <input type="password" placeholder="Enter password" required name="password">

            <button class="signup-btn">Sign Up</button>

            <p class="bottom-text">
                Already have an account?
                <a href="/login">Login</a>
            </p>
        </div>
    </div>
    </form>
</body>

</html>